

.messagesent {
    
  background-color: rgb(44, 44, 44);
  color: white;

  padding: 1%;
  margin-top: 20px;
  margin-right: 20px;
 
  max-width:400px;
  text-align: left;
  align-self: flex-end;
  margin-left: 5%;
  border-radius: 5px;


}
.messagereceived {
  background-color: rgb(44, 44, 44);
  color: white;

  padding: 1%;
  margin-top: 20px;
  margin-right: 20px;
  height: auto;
  word-wrap: break-word;
  text-align: left;
  align-self: flex-start;
  margin-left: 5%;
  border-radius: 5px;
  width: 60%;
}
/* width */
::-webkit-scrollbar {
width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;

background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(108, 104, 104); 

border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
cursor: pointer;
background: #555
}
.message-header{
margin-top: 10px;
display: flex;
flex-direction: row;
align-items: center;
height: 30px;

}
.message-sender{
font-weight: bold;
font-size: 8px;
margin-right: 10px;
}
.message-time{
font-size: 9px;
margin-right: 30px;
}
.message-status{
  font-size: 9px;
  }
.message-ok{
  height: 15px;
  width: 15px;
  margin-top: -25px;
  float: right;

}
.message-ok-files{
  height: 15px;
  width: 15px;
  margin-top: 3px;
  float: right;

}

.message-text{

  }
.chat-box{
width: 100%;
height: 80%;
background-color: rgb(0, 0, 0);
border-radius: 10px 10px 0px 0px  ;
display: flex;
flex-direction: column;
overflow-y: scroll;
padding-bottom: 20px
}

.chatname{
font-size: 15px;
font-weight: bold;
color: rgb(7, 7, 7);

}

.fileicon{

width: 100px;
height: 100px;
bottom: 100px;


}
.removefilebtn{
position: relative;
color: rgb(255, 0, 0);

transform: translate(120%, -320%);

font-weight: bold

}
.removefilebtn:hover{
background-color: rgb(255, 0, 0);
color: white;
}
.filedivname{
font-size: 14px;
color: white;

word-wrap: break-word;
text-align: left;
align-self: flex-end;
margin-left: 5%;
border-radius: 5px;
width: fit-content;

}
.fileIconmessageSCONTAINER{
flex-direction: row;
margin-top: 10px;
margin-bottom: 10px;
overflow-x: auto;
width: 100%;

}
.fileIconmessage{
width: 20px;
height: 20px;
margin-top: 10px;
margin-left: 10px;
cursor: pointer;

}

.fileInMess{
color: white;
font-size: 10px;
margin-left: 10px;
margin-top: 10px;
margin-right: 20px;
width: 20%;
}
.filediv{
margin: 20px;

color: aliceblue;
width: 20%;




}


.chatdiv{
margin: 5%;
padding: 0;
  height: 80%;

  background-color: #8d8d8d;
  border-radius: 10px;

}

.inputcontainer{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #8d8d8d;

  border-radius: 0 0 10px 10px;





}
.inputcontainer div{
  width: 30%;

margin-left: 1%;
padding: 1%;
margin-top: 10px;
display: flex;

justify-content: space-between;

}
.topdivchatdiveach{
  height: 10%;
  background-color: blue;
}
.middledivchatdiveach{
  height: 80%;
  background-color: rgb(46, 46, 48);
}
.bottomdivchatdiveach{
  height: 10%;
  background-color: rgb(49, 49, 197);
}

.homecontainer{
  width: 100%;
  height: 100%;
  display: block;
}
.chatdiveach{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: none;


}

#settings{
  display: none;
  width: 100%;
  height: 100%;
}
.input-textarea{

  width: 65%;
  resize: none;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  margin-left: 0%;
  height: 100%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  
}

.micBtn{


  height: 35px;

  border: none;
 
  cursor: pointer;
  padding: 0;
  
}
.micBtn img {
  display: block;
  padding: 0;
  width: 100%;
  height: auto;
}
.micBtn:hover{
  cursor: pointer;
  
}


.sendBtn {

  
  color: rgb(255, 255, 255);
  border: none;  
opacity: 0%;
pointer-events: none;
  height: 5%;


}


.sendBtn::before {
  content: "\f1d8"; /* The same symbol as the input */
  font-family: "Font Awesome 5 Free"; /* Make sure to include Font Awesome */
  font-weight: 900;

}
#fileInput{
  display: none;
}
.uploadlabed{

 
  color: rgb(255, 255, 255);
  border: none;  

width: 60px;

  height: 5%;
 
  }
  .uploadlabed img{
    width: 100%;
    height: auto;
  }
.progress{

  border-radius: 4px;
  width: 100%;
  height: 5px;

  background-color: rgb(0, 0, 0);
  overflow: hidden;

}

  .chatbuttons{
    background-color: aliceblue;
    border-style: 10px solid black;
   
  }

.tetrominos {
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-96px, 112px);
}

.tetromino {
  top: -20%;
  width: 96px;
  height: 112px;
  position: absolute;
  transition: all ease .3s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.box1 {
  animation: tetromino1 1.5s ease-out infinite;
}
.box2 {
  animation: tetromino2 1.5s ease-out infinite;
}
.box3 {
  animation: tetromino3 1.5s ease-out infinite;
  z-index: 2;
}
.box4 {
  animation: tetromino4 1.5s ease-out infinite;
}

@keyframes tetromino1 {
  0%, 40% { 
    /* compose logo *//* 1 on 3 *//* L-shape */
    transform: translate(0,0);
  } 50% {
    /* pre-box */
    transform: translate(48px,-27px);
  } 60%, 100% {
    /* box *//* compose logo */
    transform: translate(96px);
  }
}

@keyframes tetromino2 {
  0%, 20% { 
    /* compose logo *//* 1 on 3 */
    transform: translate(96px, 0px);
  } 40%, 100% { 
    /* L-shape *//* box *//* compose logo */
    transform: translate(144px, 27px);
  }
}

@keyframes tetromino3 {
  0% { 
    /* compose logo */
    transform: translate(144px, 27px);
  } 20%, 60% { 
    /* 1 on 3 *//* L-shape *//* box */
    transform: translate(96px, 54px);
  } 90%, 100% { 
    /* compose logo */
    transform: translate(48px, 27px);
  }
}

@keyframes tetromino4 {
  0%, 60% {
    /* compose logo *//* 1 on 3 *//* L-shape *//* box */
    transform: translate(48px, 27px);
  } 90%, 100% { 
    /* compose logo */
    transform: translate(0, 0);
  }
}

.progressbar{
  border-radius: 4px;
  width: 0%;
  height: 5px;

  background-color: rgb(255, 255, 255);
  background-color: aliceblue;
  overflow: hidden;
}
td:first-child {
  vertical-align: top; /* Align text in first column to the top */
}

.leave-chat{
  position: relative;
  float: right;

  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  justify-content: center;
  padding: 0px;
  
  

}
.progress-buttons{

  border-radius: 4px;
  margin: 0px;
  padding: 0px;
  
}
.filecontainers{

  display: none;
 
  pointer-events: auto;
height: 30%;
position: absolute;

flex-direction: row;
width: 470px;
overflow-x: auto;
overflow-y: hidden;
opacity: 70%;
top: 47%;

}

